.list{
    width: 30vw;
    /* height: 20vh; */
    /* border: 1px solid; */
    margin-top: 5vh;
    background-color: white;
    min-height: 70vh;
    border: 0px solid;
    border-radius: 30px;
    
}

h1{
    padding: 0%;
    margin: 0%;
    text-align: center;
    margin-top: 2vh;
    background-color: rgba(88, 10, 161, 1);
    font-family: sans-serif;
    color: #ffffff;
    padding: 2vh 0%;
}

.additem{
    /* display: flex; */
    text-align: center;
    margin-top: 4vh;
    
}

.additem input{
    margin: 0 1.2vw;
    /* border: 0px; */
    border-top: 5px;
    border-left: 5px;
    border-right: 5px;
    font-size: large;
    text-align: center;
    width: 20vw;
    outline: none;
}

.additem button{
    margin: 0 2vw;
    border-radius: 50%;
    padding: 0%;
    width: 40px;
    height: 40px;
    color: #ffffff;
    font-size: 35px;
    cursor: pointer;
    background-color: rgba(255, 166, 0, 0.729);
    margin: 0%;

}

ol li {
    padding-left: 0px;
    /* padding: 3px 0; * */
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    min-height: 40px;
    display: flex;
    align-items: center;
    color: #8566aa;
    text-transform: capitalize;
    
    }

    .todo_style {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
    }